html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.75px;
  font-weight: 500;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* line-height: 1.5; */
}

/* Start of Navigation Bar */

header {
  /* background-color: #fff; */
  background-color: rgb(51, 51, 51, 0.85);
  backdrop-filter: blur(5px);
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: #000 0px 1px 5px;
}

#nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

#nav a:hover {
  color: #df4372;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

li:not(:last-child) {
  margin-right: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

main {
  z-index: -1;
  background-attachment: fixed;
  background-image: url("../images/stacked-waves-haikei.svg");
  /* background-image: url("../images/stacked-waves-haikei-333.svg"); */
  background-size: cover;
  min-height: 100vh;
}

.content-container {
  background-color: transparent;
  backdrop-filter: blur(100px);
  /* max-width: 800px; */
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 40px;
  min-height: 100vh;
}

/* End of Navigation Bar */

section {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  max-width: 700px;
  margin: 0 auto;
}

/* Start of Welcome Section */

#welcome {
  /* background-color: #f2f2f2; */
  text-align: center;
  /* padding: 110px 110px; */
}

#welcome h1 {
  font-size: 48px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 600;

}

#welcome p {
  font-size: 24px;
  margin-bottom: 30px;
}

#welcome a {
  /* font-size: 50px; */
  color: #df4372;
  text-decoration: none;
  transition: color 0.3s ease;
}

#welcome a:hover {
  color: #71C038;
}

/* Start of scroll icon */

#scroll-indicator {
  margin-top: 50px; 
  opacity: 0.5;
}

#scroll-indicator p {
  font-size: 10px;
  /* font-style: oblique; */
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

#scroll-indicator p {
  font-size: 20px;
  margin-bottom: 40px;
  /* animation: fadeInOut 4s infinite; */
}

.scroll-downs {
  /* animation: fadeInOut 4s infinite; */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: rgb(0, 0, 0);
  animation-name: scroll;
  animation-duration: 1.75s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* End of scroll icon */

#portfolio {
  /* padding: 80px; */
  padding-top: 80px;
  padding-bottom: 80px;
  /* text-align: center; */
  /* color: #fff; */
  /* padding-right: 40px;
  padding-left: 40px; */
  /* background-color: #333; */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.header-container h2 {
  /* position: relative; */
  /* z-index: 1; */
  padding: 0 20px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* text-align: center; */
  font-size: 36px;
  font-weight: 600;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #000;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  flex-direction: row;
  background-color: #df4372;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  /* transition: background-color 0.1s ease; */
  /* box-shadow:#000000 0px 0.9px 6px; */
}

.btn:hover {
  /* background-color: #fd7fa5; */
  color: #fff;
  transform: translateY(-5px);
  transition: transform 0.4s ease;
  box-shadow: #5c5c5c 0px 5px 20px;
}

.project {
  /* padding: 60px; */
  width: 100%;
  /* width: 98vw; */
  /* margin: 20px; */
  /* margin-bottom: 20px; */
  margin-top: 40px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: rgba(236, 236, 236, 0.85); */
  
  /* border-radius: 10px; */
  /* padding: 40px; */
  padding-top: 40px;
  padding-bottom: 40px;
}

#project-1, #project-2 {
  min-height: 50vh;
}

#project-1 h2, span {
  /* color:#fff; */
  margin-bottom: 10px;
}

#project-2 h2, span {
  /* color:#fff; */
  margin-bottom: 10px;
}

#more-projects {
  padding: 80px;
}

#more-projects a {
  color: #df4372;
  text-decoration: underline;
  transition: color 0.3s ease;
  /* align-self: right; */
}

#more-projects a:hover {
  color: #71C038;
}

footer {
  /* background-color: #f2f2f2; */
  color: #333;
  /* text-align: center; */
  padding: 5px 30px;
}

/* Start of about.html */

#about {
  /* background-color: #f2f2f2; */
  /* text-align: center; */
  /* padding: 100px; */
  /* max-height: 40vh; */

}

#about h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

#contact {
  /* background-color: #f2f2f2; */
  text-align: center;
  padding: 100px;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
}

button[type="submit"] {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 33%;
  padding: 20px;
}

/* End of about.html */